body {
  width: 100%;
  height: 100%;
}



.page-header {
font-family: 'Russo One', sans-serif;
color:rgb(100, 204, 252);
}

.answer,
.alert {
  text-align: center;
}

button {
  margin: 20px;

}

.btn-lg {
  white-space: normal;
  width: 180px;
  height: 250px;
  text-align: left;
  font-weight: bold;
  background: #FAFAFA;
}

.btn-success,
.btn-danger {
  opacity: 0.4
}

.question {
  width: 180px;
  height: 250px;
  border: 1px solid black;
  color: white;
  background: black;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
}
#answer {
  vertical-align: top;
}

.alert {
  position: absolute;
  top: 20%;
  left: 32.5%;
  height: 200px;
}




.menu {
  padding: 0;
  position: absolute;
  opacity: 0.8;
  font-family: 'Russo One', sans-serif;
}


.subject {
  padding:0;
  height:550px;
  background-size: cover;
  background-repeat: no-repeat;
}

.quiz {
  display: none;
}


.icon {
  width: 100px;
  height: auto;
}

.card {
  background: url('image/card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.done {
  background: white;
}

.currentPlayer {
  border: 2px solid red;
  border-radius: 100px;
}

#math {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/48/4e/60/484e60f41ae69a97d07de2dedff555cd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#science {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/43/57/b4/4357b4cbe2593a82ea1d8de90f207f54.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#sports {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/ef/e1/89/efe189c2bffb539d60e78c0bce150197.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#language {
  background: url('https://s-media-cache-ak0.pinimg.com/736x/22/4d/fe/224dfeef77923e3d0ebc9845d5c4744d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.progress {
  padding:0;
}
