
.page-header {
font-family: 'Russo One', sans-serif;
color:rgb(100, 204, 252);
}



button {
  margin: 20px;
}

.btn-lg {
  white-space: normal;
  width: 180px;
  height: 250px;
  text-align: left;
  font-weight: bold;
  background: #FAFAFA;
}


#answer {
  vertical-align: top;
}

.alert {
  position: absolute;
  top: 20%;
  left: 32.5%;
  height: 200px;
  text-align: center;
}

.menu {
  padding: 0;
  position: absolute;
  opacity: 0.8;
  font-family: 'Russo One', sans-serif;
}


h3 {
  display:inline;
  font-size: 60px;
}


.subject {
  padding:0;
  height:550px;
  background-size: cover;
  background-repeat: no-repeat;
}

.quiz {
  display: none;
}

.icon {
  display: inline;
  width: 100px;
  height: auto;
  margin:20px;
}

.text-right img{
    float:right;
  }

.done {
  background: grey;
}

.currentPlayer {
  border: 2px solid red;
  border-radius: 100px;
}

#math {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/48/4e/60/484e60f41ae69a97d07de2dedff555cd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#science {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/43/57/b4/4357b4cbe2593a82ea1d8de90f207f54.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;
}

#sports {
  background: url('https://s-media-cache-ak0.pinimg.com/236x/ef/e1/89/efe189c2bffb539d60e78c0bce150197.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;
}

#language {
  background: url('https://s-media-cache-ak0.pinimg.com/736x/22/4d/fe/224dfeef77923e3d0ebc9845d5c4744d.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    background-position: center;
}

.progress {
  padding:0;
  height:30px;
}

.progress-bar {
  width:100%;
}


@media (min-width: 2500px) {
  .subject {
    height:2250px;
  }
}

@media (min-width: 2000px) {
  .subject {
    height:1800px;
  }
}

@media (min-width: 1770px) {
  .subject {
    height:1000px;
  }
  .btn-lg {
    width: 250px;
    height: 350px;
 
  }
}




@media (max-width: 1770px) and (orientation: landscape) {
  .subject {
    height: 800px;
  }
  .btn-lg {
    width: 90px;
    height: 200px;
    font-size: 10px;
  }

  .alert {
    top: 20%;
    left: 32.5%;
  }
}



@media (max-width: 500px) {
  .subject {
    height: 230px;
  }

    h1 {
      font-size: 20px;
    }

    .btn-lg {
      width: 90px;
      height: 90px;
      padding: 5px;
      font-size: 10px;
    }

    .icon {
      margin:0;
      width:80px;
    }
    .alert {
      top: 20%;
      left: 10%;
    }

    .avatar {
    padding: 20px 0;
    }


}

@media (max-width: 380px) and (orientation: portrait) {
  .subject {
    height: 180px;
  }
  
  h3 {
    font-size:30px;
  }
  
  .avatar {
    padding:0;
  }

}

@media (max-width: 1025px) and (orientation: landscape) {
  .btn-lg {
    width: 100px;
    height: 200px;
    font-size: 7px;
  }
}

@media (max-width: 740px) and (orientation: landscape) {
  
  .page-header {
    height: 40px;
    margin: 0;
  }
  .subject {
    height: 180px;
  }
  
  h3 {
    font-size:30px;
  }
  
  .avatar {
    padding:0;
  }
  
  .icon {
    width: 60px;
  }
  
  .progress {
    height: 20px;
  }
  
  h1 {
   margin: 0; 
   font-size: 20px;
  }
  
  .btn-lg {
    width: 60px;
    height: 60px;
    font-size: 7px;
  }

}
